* {
  box-sizing: border-box;
}

@font-face {
  font-family: DEATHNOTEFont;
  src: url('./fonts/DEATHNOTEFont.ttf');
}

.DEATHNOTEFont {
  /* color: red; */
  font-family: myFirstFont;
}


header {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;

  &>div {
    text-align: center;
    padding: 40px;
    h1, h2 {
      font-family: DEATHNOTEFont;
      font-weight: bold;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    a {
      color: inherit;
      margin: auto 5px;
      font-size: 18px;
    }
  }
}

footer {
  background-color: grey;
  display: flex;
  justify-content: center; 
}

main div.spearhead {
  padding: 30px;
}
main div.skills {
  float: right;
}
