@font-face {
  font-family: DEATHNOTEFont;
  src: url('./fonts/DEATHNOTEFont.ttf');
}

@font-face {
  font-family: Merienda;
  src: url('./fonts/Merienda-Regular.ttf');
}

@font-face {
  font-family: RopaSans;
  src: url('./fonts/RopaSans-Regular.ttf');
}

* {
  box-sizing: border-box;
  font-family: RopaSans, sans-serif;
}

header {
  background-color: #bacfe8;
  display: flex;
  justify-content: center;

  &>div {
    text-align: center;
    padding: 5vw;
    h1, h2 {
      font-family: DEATHNOTEFont;
      font-weight: bold;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    a {
      color: inherit;
      margin: auto 5px;
      font-size: 18px;
    }
  }
}

main {
  width: 100%;  
  padding: 0 8vw 0;
  div.spearhead > div {
    padding: 5vw;
  }

  div.spearhead {
    height: 60vh;
    width: 100%;
    max-height: 320px;
    display: flex;
    flex-wrap: wrap;

    .intro {
      height: 100%;
      width: 66.66%; 
    }
    .skills {
      width: 33.33%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  div.mainList {
    clear: left;
    display: flex;
    flex-wrap: wrap;
    padding: 4vw;
  }
}

@media (max-width: 500px) {
  main {
    div.spearhead {
      height: 70vh;
      max-height: 100vh;
      .intro {
        height: 60%;
        width: 100%;
      }
      .skills {
        height: 40%;
        width: 100%;
      }
    }
  }
}

footer {
  height: 150px;
  background-color: #bacfe8;
  display: flex;
  justify-content: center; 
  align-items: center;
  font-size: 0.9rem;
}