@font-face {
  font-family: DEATHNOTEFont;
  src: url('./fonts/DEATHNOTEFont.ttf');
}

@font-face {
  font-family: Merienda;
  src: url('./fonts/Merienda-Regular.ttf');
}

@font-face {
  font-family: RopaSans;
  src: url('./fonts/RopaSans-Regular.ttf');
}

* {
  box-sizing: border-box;
  font-family: RopaSans, sans-serif;
}

header {
  background-color: #bacfe8;
  display: flex;
  justify-content: center;

  &>div {
    text-align: center;
    padding: 40px;
    h1, h2 {
      font-family: DEATHNOTEFont;
      font-weight: bold;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    a {
      color: inherit;
      margin: auto 5px;
      font-size: 18px;
    }
  }
}

footer {
  height: 150px;
  background-color: #bacfe8;
  display: flex;
  justify-content: center; 
  align-items: center;
  font-size: 0.9rem;
}

main {
  padding: 0 8vw 0;
  div.spearhead > div {
    padding: 40px;
  }

  div.spearhead {
    .intro {
      float: left;
      width: 66.66%; 
    }
    .skills {
      float: left;
      width: 33.33%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}

.mainList {
  clear: left;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;

  p {
    line-height: normal;
    font-size: 20px;
    font-weight: normal;
    color: #2b2424;
    margin-bottom: .3em;
    font-family: Merienda, cursive;
    
    &::before {
      position: relative;
      content: "> ";
      font-size: 30px;
      font-weight: bold;
    }
  }
}